.volume-changer {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    border-radius: 5px;
    width: 320px;
}

.volume-changer::-webkit-slider-container {
    background: var(--border-gradient);
}

.volume-changer::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 0.5rem;
}

.volume-changer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -2px;
    background-color: white;
    height: 1em;
    width: 0.5em;
}

.video {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.btn-player-gradient-border {
    width: 150px;
    text-transform: uppercase;
    padding: 5px 10px;
    background: none;
    border: 5px solid;
    cursor: pointer;
    border-image: var(--border-gradient) 8;
    transition: 0.5s;
    font-weight: 800;
    font-size: 1.5em;
    margin: 20px 20px 0 0;
}

.btn-player-gradient-border:hover {
    border-radius: 15px;
}



/* video */

.div-video-changer{
    margin-top: 10px;
}

.video-changer {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    background: none;
    width: 100%;
    margin: 10px 30px 0 0;
}

.video-changer::-webkit-slider-container {
    border: 5px solid;
    border-image: var(--border-gradient) 8;
    background: none;
}

.video-changer::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 0.5rem;
}

.video-changer::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -5px;
    background-color: white;
    border-radius: 50%;
    height: 1.3em;
    width: 1.3em;
}
